* {
    box-sizing: border-box;
}

ul {
  list-style: none;
}

footer {

  padding: 18px;
  height: 70px;
  width: 100%;
  border-bottom: none;

  background-color: #f8f8f8;
  border-color: #e7e7e7;

  text-align: center;
  vertical-align: middle;
  font-size: 14px;

  margin-bottom: -50px;
}

.pull-left{
  float:left;
  width:100%;
}

.icon {
  width:70px;
  height:70px;
}

#social-links {
  float: right;

  padding: 5px;
  width: 270px;
  top: 30px;
  margin-right: 75px;
  margin-top: 30px;

  text-align: center;
}

#social-links-entry{
  float: left;
  padding: 10px;
}